.auto-complete-wrapper {
    position: relative;
    .input-wrapper {
        display: flex;
        position: relative;
        width: 100%;

        .input-box {
            width: 100%;
            border: 1px solid transparent;
            border-radius: 2px;
            padding: 7px;
            outline: none;
        }

        .search-btn {
            position: absolute;
            height: 100%;
            right: 0;
            background: white;
            border: white;
            outline: none;
            padding: 6px;
        }

        .icon-search {
            height: 18px;
            width: 18px;
        }
    }

    .options-wrapper {
        position: absolute;
        width: 100%;
        z-index: 5;
        max-height: 200px;
        overflow-y: scroll;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            .option {
                background: white;
                border-bottom: 1px solid #b4b4b4;
                padding: 8px;
            }
        }

        /* width */
        &::-webkit-scrollbar {
            width: 3px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}
